**PySDS Week 02 Day 04 v.1 - Friday Formative - Merging DataFrames**

# Exercise 1. Merging and reporting on data

Recall that we have a table called PySDS_PolCandidates.csv. This table has a list of candidates with Twitter accounts. We also now have a database of tweets captured on the 5th and 6th of May, 2015 by British Politicians. The expanded dataset includes the set of tweets as replies to these politicians, but that is not being used here.

In [1]:
# Question 1.1: There are accounts in the roottweets database that are 
# not in the PolCandidates list and vice versa. 
# Filter the roottweets table / dataframe down to only the candidates 
# in the PolCandidates table. Then enter the values in the sentence below. 

import pandas as pd
import sqlite3

csv_df = pd.read_csv("PySDS_PolCandidates.csv")
sql_df = pd.read_sql("select * from roottweets",sqlite3.connect("PySDS_ElectionData_2015_may5-6.db"))

######################################
# Answer Below Here 

before_tweets = len(sql_df.text.value_counts())
before_accounts = len(sql_df.username.value_counts()) 

#merging.

sql_df.rename(columns={"username":"twitter_username"}, inplace=True)
after_df = pd.merge(csv_df, sql_df, on="twitter_username")
after_tweets = len(after_df.text.value_counts())
after_accounts = len(after_df.twitter_username.value_counts())

print( "Before filtering there were %s Tweets and %s accounts." % (before_tweets, before_accounts),
      "\nAfter filtering there were %s Tweets and %s accounts." % (after_tweets,after_accounts)
     )

Before filtering there were 19900 Tweets and 2106 accounts.
After filtering there were 16417 Tweets and 1739 accounts.

In [2]:
#len(csv_df.text.value_counts())
after_df.twitter_username.value_counts().head()

HOWnotWHO         276
RogTallbloke      179
Emmett_Jenner     163
MarkFlanaganAB    133
johnnymercer81    128
Name: twitter_username, dtype: int64

In [3]:
#####################################
# Question 1.1
# TA comments below here 

# ___ / 5. 
# Comments:
'''

'''

'\n\n'

In [3]:
# Question 1.2: Using the newly filtered table, merge in the candidates' political 
# party from PolCandidates. Use this to enter values in the sentence below. 

######################################
# Answer Below Here 


conservative_candidates_count = len(after_df[after_df['party'] == 'Conservative Party'].twitter_username.unique())
conservative_tweets_count = after_df[after_df['party'] == 'Conservative Party'].shape[0]
top_con_tweeter = after_df[after_df['party'] == 'Conservative Party'].twitter_username.value_counts()[0:1].index[0]
top_con_tweet_count = after_df[after_df['party'] == 'Conservative Party'].twitter_username.value_counts()[0]


labour_candidates_count = len(after_df[after_df['party'] == 'Labour Party'].twitter_username.unique())
labour_tweets_count = after_df[after_df['party'] == 'Labour Party'].shape[0]
top_labour_tweeter = after_df[after_df['party'] == 'Labour Party'].twitter_username.value_counts()[0:1].index[0]
top_labour_tweet_count = after_df[after_df['party'] == 'Labour Party'].twitter_username.value_counts()[0]

print("The %s candidates from the Conservative party sent %s root tweets. The top tweeter was %s with %s tweets" \
      % (conservative_candidates_count, conservative_tweets_count, top_con_tweeter, top_con_tweet_count))

print("The %s candidates from the Labour party sent %s root tweets. The top tweeter was %s with %s tweets" \
      % (labour_candidates_count, labour_tweets_count, top_labour_tweeter, top_labour_tweet_count))

The 334 candidates from the Conservative party sent 2243 root tweets. The top tweeter was johnnymercer81 with 128 tweets
The 380 candidates from the Labour party sent 3731 root tweets. The top tweeter was horatioharry with 82 tweets

In [5]:
#####################################
# Question 1.2
# TA comments below here 

# ___ / 5. 
# Comments:
'''

'''

'\n\n'

In [6]:
after_df.head(1)

,name,id,party,constituency,twitter_username,facebook_page_url,party_ppc_page_url,gender,tweet_id,user_id,date,text
0,Duncan Higgitt,5576,Plaid Cymru - The Party of Wales,Aberavon,DuncanHiggitt,https://www.facebook.com/DuncanHiggittforAfan,http://www.partyofwales.org/duncan-higgitt/,male,595468116123090944,329677356,2015-05-05 06:00:36.000000,"@leighcanham I do know his work, but it's only..."

# Exercise 2. An acrostic of tweets.

In [4]:
#################################################################
#
# Perhaps
# You'd
# Take
# Hacking
# Over
# Nothing?
#
# See https://en.wikipedia.org/wiki/Acrostic
#
# Fun Fact! Lewis Carroll's Through the Looking Glass contained a 
# poem with an acrostic of the full name of the real-life Alice. 
# 
#################################################################

# This exercise consists of two parts. In the first, you have to
# print out an acrostic. You select a codephrase, and then the words that 
# are printed on each line should come from the tweets database. They do not 
# have to come from the filtered table unless you want the party affiliation.
# 
# The horizontal words for the acrostic should be the first word of the 
# tweet. They should also be filtered somehow, such as 'tweets from the  
# Liberal Democrat party', 'tweets with a url', or 'tweets that have an 
# @mention' in them.
#
# The second part is that you have to then provide a user input prompt
# so that a user can see if they can make an acrostic with the same 
# set of tweets. If they can (i.e. the codephrase's letters are all contained
# within the set of tweets), print out the acrostic. Otherwise, let the user 
# know that the program cannot find an acrostic with that phrase. Ask them to 
# please try another phrase, or type "exit()" to exit. 
#
'''
Using tweets that <user defined> I made an acrostic: 

Tweets 
Rarely 
Accommodate
Politicians

Using the same set of tweets, now you try to make one: 
[                            ]
'''


# Notes: 
# - Each line in the acrostic should be a unique word, even if the codephrase 
#       has two of the same letter.  
# - Your acrostic codephrase has to be longer than 5 characters. 
# - Dont worry about representing lower/uppper case, spaces, or punctuation in 
#       your acrostic, but assume that users will try to type that in 
#       the input box.
# - If the user's attempted acrostic codephrase doesn't work
#       then it should let the user try again. 
# - The codephrase should make sense, but I fully expect the word list
#       from tweets not to make a lot of sense. 
# - If you find that the first word doesn't cut it, you can take the first 
#       'non-tweet' as in the first non-["rt", "@mention", "#hashtag"]
#
# hint: df['first_word'] = df["text"].map(lambda x: cleanWord(x))

#
#
# Rubric
# 5 pts. Functionality: Does your code work as directed (to test: 
#             we would enter your codephrase as input)
# 5 pts.  Robustness: Will user input break the code? How does it handle junk characters?
              
# 5 pts.  Code factoring: e.g., how well did you use functions/data strutures 
#             to help manage your queries?
# 5 pts.  Complexity of the filter on the tweets:  A relative / subjective 
#             assessment based on how you decided to filter and select tweets)

######################################
# Answer Below Here 

#### Dataset cleaning ######
import re
import numpy as np

#removing retweets and hashtags: https://stackoverflow.com/questions/26594817/remove-and-rt-from-the-tweet
after_df["text"] = after_df["text"].apply(lambda x: re.compile('\#').sub('', re.compile('RT @+').sub('@', x, count=1).strip()))

#removing twitter handles
after_df["text"] = after_df["text"].replace("(?<=^|(?<=[^a-zA-Z0-9-_\.]))@([A-Za-z]+[A-Za-z0-9-_]+)","", regex=True)

#keeping only A-Z
#after_df["text"] =after_df["text"].apply(lambda x: after_df.text.isalpha())
after_df["text"] = after_df["text"].apply(lambda x: re.sub('[^a-zA-Z]+', ' ', x))

#removing special characters.
after_df["text"] = after_df["text"].map(lambda x: x.lstrip(":-.()"))
#after_df["text"] = after_df["text"].map(lambda x: x.replace(":-.()","   "))

#take the first word (should be at least two characters) and first letter.
#hint: https://stackoverflow.com/questions/36028932/how-to-extract-specific-content-in-a-pandas-dataframe-with-a-regex
after_df["firstword"] = after_df["text"].str.extract(r'(\w{2,})', expand=False).str.strip()
after_df["firstword"] = after_df["firstword"].str.capitalize()
after_df["firstletter"] = after_df["firstword"].str[0]

# #ensure that there are no duplicate words.
after_df = after_df.drop_duplicates(subset="firstword")  
after_df.firstletter.value_counts()

#I added a row that will show space.
after_df.append(pd.Series([np.nan]), ignore_index = True)
after_df = after_df.fillna(' ')

### cumulative counts
after_df["cumulativecount"]= after_df.groupby("firstletter").cumcount()
after_df.head()

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:5175: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  other.index).difference(self.columns).tolist()

,name,id,party,constituency,twitter_username,facebook_page_url,party_ppc_page_url,gender,tweet_id,user_id,date,text,firstword,firstletter,cumulativecount
0,Duncan Higgitt,5576,Plaid Cymru - The Party of Wales,Aberavon,DuncanHiggitt,https://www.facebook.com/DuncanHiggittforAfan,http://www.partyofwales.org/duncan-higgitt/,male,595468116123090944,329677356,2015-05-05 06:00:36.000000,I do know his work but it s only something I ...,Do,D,0
1,Stephen Kinnock,4252,Labour Party,Aberavon,SKinnock,,http://www.labour.org.uk/people/detail/stephen...,male,595608873026899968,722347303,2015-05-05 15:19:55.000000,In Wales the squeezed middle are Port Talbot ...,In,I,0
2,Stephen Kinnock,4252,Labour Party,Aberavon,SKinnock,,http://www.labour.org.uk/people/detail/stephen...,male,595489192177704960,722347303,2015-05-05 07:24:21.000000,Great team out in Margam and Taibach yesterday...,Great,G,0
3,Stephen Kinnock,4252,Labour Party,Aberavon,SKinnock,,http://www.labour.org.uk/people/detail/stephen...,male,595484964759670784,722347303,2015-05-05 07:07:33.000000,Neil Kinnock s son is poised to become an MP ...,Neil,N,0
4,Guto Bebb,1412,Conservative Party,Aberconwy,GutoBebb,,https://www.conservatives.com/OurTeam/Prospect...,male,595590166187761665,474991141,2015-05-05 14:05:35.000000,believe in providing a safety net for those i...,Believe,B,0

In [5]:
##### Start the program #######
import random
import sys
from collections import defaultdict

print("*************** ACROSTIC ****************** \n")

partylist = ['Labour Party', 'Green Party', 'The Respect Party', 'SDLP (Social Democratic & Labour Party)' ]
filteredtweets = after_df[after_df.party.isin(partylist)] 

print("Using tweets by: ", *partylist, sep="\n")
print()
print("I made an acrostic: \n")

print("J-", filteredtweets[filteredtweets.firstletter == "J"].firstword.iloc[0])
print("A-",filteredtweets[filteredtweets.firstletter == "A"].firstword.iloc[8])
print("P-",filteredtweets[filteredtweets.firstletter == "P"].firstword.iloc[20])
print("A-",filteredtweets[filteredtweets.firstletter == "A"].firstword.iloc[29])
print("N-",filteredtweets[filteredtweets.firstletter == "N"].firstword.iloc[23])

print()
print("Your turn! \n")

while True:
    a = input("Word please?")
    a = a.upper()
    adic = defaultdict(list)
    try: 
        if a == "EXIT()":
            print("Thank you for your time. Good bye!")
            break
        elif a.isnumeric():
            print ("Your input is numeric. Please input a word. \n")
            print ("If you would like to quit, please type \"exit()\". \n")
        elif len(a) > 4: 
            for i in range(len(a)):
                key = a[i]
                numlist = list(after_df[after_df['firstletter'] == a[i]].cumulativecount)
                np.random.shuffle(numlist)
                pick = numlist.pop() #removes the last value from the list of randomly shuffled numbers.   
                while pick in adic[a[i]]:
                    pick = numlist.pop()
                adic[a[i]].append(pick) 
                lookup = pd.DataFrame([key, pick], index=['firstletter', 'cumulativecount']).T
                #merge
                lookup = lookup.set_index(['firstletter', 'cumulativecount']).join(after_df.set_index(['firstletter', 'cumulativecount']))
                #inspect duplicates
                #inspect = inspect.append(lookup)
                print(a[i]," ", lookup.firstword[0])
            break
        else:
            print("Please print a codephrase that is longer than 5 characters. Try again \n")
            print ("You can quit at any time by typing \"exit()\". \n")
    except: 
        print("There are not enough unique words/spaces to form an acrostic. Try again \n")

#hint:https://stackoverflow.com/questions/38291908/excel-vlookup-equivalent-in-pandas

*************** ACROSTIC ******************

Using tweets by:
Labour Party
Green Party
The Respect Party
SDLP (Social Democratic & Labour Party)

I made an acrostic:

J- Just
A- Always
P- Pray
A- At
N- Night

Your turn!

Word please? testing

T   Thelincolnite
E   Ellesmereport
S   Somerset
T   Tusc
I   Infrastructre
N   North
G   Grn

In [6]:
adic

defaultdict(list,
            {'E': [73],
             'G': [77],
             'I': [45],
             'N': [55],
             'S': [261],
             'T': [132, 72]})

In [7]:
after_df.firstletter.value_counts()

S    288
C    214
P    203
T    187
A    181
D    172
B    163
H    159
M    153
F    146
R    139
E    134
L    134
W    133
G    108
N     95
I     90
O     75
J     61
V     57
U     51
Y     41
K     32
Q     13
Z      5
X      3
       1
Name: firstletter, dtype: int64

In [11]:
#####################################
# TA comments below here 

# Functionality: 
# ___ / 5. 
# Comments 
'''

'''

# Robustness: 
# ___ / 5. 
# Comments 
'''

'''

# Code Factoring: 
# ___ / 5. 
# Comments 
'''

'''

# Filter Complexity: 
# ___ / 5. 
# Comments 
'''

'''

'\n\n'

In [12]:
print(list(after_df[after_df['firstletter'] == "G"].cumulativecount))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107]