In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# List

In [246]:
#list slicing
a = [1,2,4,5,6]
b = ['green', 'blue', 'watermelon', 'orange']

In [5]:
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

## Append

In [248]:
#list append. No need to recast
a.append(3)
a.append([3,4])
#a.sort()
print(a)

[1, 2, 4, 5, 6, 'red', [3, 4], 3, [3, 4]]

## Extend

In [249]:
a.extend([7,9,11])
a

[1, 2, 4, 5, 6, 'red', [3, 4], 3, [3, 4], 7, 9, 11]

In [251]:
b.extend('red')
b.extend([1,2])
b

['green', 'blue', 'watermelon', 'orange', 'r', 'e', 'd', 1, 2, 'red', 1, 2]

In [59]:
b.clear()
b

[]

In [33]:
b = ['green', 'blue', 'watermelon', 'orange']

# Sort

In [38]:
b.sort(reverse=False)
print(b)

#couldn't do for a because it's a mixed list

['blue', 'green', 'orange', 'watermelon']

In [243]:
b = ['green', 'blue', 'watermelon', 'orange']

In [244]:
b.remove('blue')
b

['green', 'watermelon', 'orange']

## Pop

In [245]:
b = ['green', 'blue', 'watermelon', 'orange']

In [13]:
# When index is not passed, removing last value
print('When index is not passed:') 
print('Return Value: ', b.pop())
print('Updated List: ', b)

When index is not passed:
Return Value:  orange
Updated List:  ['green', 'blue', 'watermelon']

In [15]:
# When -1 is passed
# Pops Last Element
print('\nWhen -1 is passed:') 
print('Return Value: ', b.pop(-1))
print('Updated List: ', b)

When -1 is passed:
Return Value:  orange
Updated List:  ['green', 'blue', 'watermelon']

In [17]:
# When -3 is passed
# Pops Third Last Element
print('\nWhen -3 is passed:') 
print('Return Value: ', b.pop(-3))
print('Updated List: ', b)

When -3 is passed:
Return Value:  blue
Updated List:  ['green', 'watermelon', 'orange']

# Del

In [23]:
b.remove('blue')
print(b)

['green', 'watermelon', 'orange']

In [26]:
b.remove[0]
print(b)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [30]:
#for indexing
del b[0:len(b)-2]
print(b)

['watermelon', 'orange']

# Dictionary

In [82]:
dicto = {'fruit': 'apple', 'shape': 'round'}

In [83]:
dicto["shape"] = "long"
dicto

{'fruit': 'apple', 'shape': 'long'}

In [84]:
dicto["shape"].append(["square"])
dicto

AttributeError: 'str' object has no attribute 'append'

In [85]:
dicto["shape"] = ["roundable", "longable"]
dicto

{'fruit': 'apple', 'shape': ['roundable', 'longable']}

In [86]:
dicto["shape"][1]

'longable'

In [254]:
countries = ['greece', 'england', 'italy']
cities = ['athens', 'oxford', 'rome']

In [255]:
a = list(zip(countries, cities))
b = dict(zip(countries, cities))
print(a)
print(b)

[('greece', 'athens'), ('england', 'oxford'), ('italy', 'rome')]
{'greece': 'athens', 'england': 'oxford', 'italy': 'rome'}

KeyError: 0

In [90]:
for counter, countries in enumerate(countries):
    print(counter, countries)

0 greece
1 england
2 italy

# Dataframe

In [44]:
df = pd.read_csv("PySDS_PolCandidates.csv")
print(df.shape)
df.head()

(3971, 8)

,name,id,party,constituency,twitter_username,facebook_page_url,party_ppc_page_url,gender
0,Captain Beany,20,Independent,Aberavon,captainbeany,https://www.facebook.com/VoteCaptainBeany,NaN,male
1,Peter Bush,6754,UK Independence Party (UKIP),Aberavon,NaN,https://www.facebook.com/peterbushukip,NaN,male
2,Helen Ceri Clarke,4561,Liberal Democrats,Aberavon,NaN,NaN,http://www.libdems.org.uk/helen_ceri_clarke,female
3,Edward Yi He,5518,Conservative Party,Aberavon,edward4aberavon,https://www.facebook.com/Edward4Aberavon,https://www.conservatives.com/OurTeam/Prospect...,male
4,Owen Herbert,6520,Trade Unionist and Socialist Coalition,Aberavon,NaN,https://www.facebook.com/tuscowenherbert,http://tusc2015.com/owen-herbert-for-aberavon2/,male

In [54]:
# loops
for a in range(0,len(df['name'])-3960):
    print (df['name'][a])

Captain Beany
Peter Bush
Helen Ceri Clarke
Edward Yi He
Owen Herbert
Duncan Higgitt
Andrew Jordan
Stephen Kinnock
Jonathan Tier
Victor Babu
Guto Bebb

In [77]:
#loc and iloc

In [91]:
#break, continue, pass
number = 0

for number in range(10):
    number = number + 1

    if number == 5:
        break    # break here

    print('Number is ' + str(number))

print('Out of loop')

Number is 1
Number is 2
Number is 3
Number is 4
Out of loop

In [92]:
number = 0

for number in range(10):
    number = number + 1

    if number == 5:
        continue    # continue here
        
    print('Number is ' + str(number))

print('Out of loop')

Number is 1
Number is 2
Number is 3
Number is 4
Number is 6
Number is 7
Number is 8
Number is 9
Number is 10
Out of loop

In [93]:
number = 0

for number in range(10):
    number = number + 1

    if number == 5:
        pass    # pass here
    
    print('Number is ' + str(number))

print('Out of loop')

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Number is 10
Out of loop

In [163]:
# concat and append
df1 = df['name'][0:5]
df2 = df['party'][0:10]

print(pd.concat([df1, df2]))
print(type(df1))
print(pd.concat([df1, df2], axis=1)) #axis=0 is same as above

0                             Captain Beany
1                                Peter Bush
2                         Helen Ceri Clarke
3                              Edward Yi He
4                              Owen Herbert
0                               Independent
1              UK Independence Party (UKIP)
2                         Liberal Democrats
3                        Conservative Party
4    Trade Unionist and Socialist Coalition
5          Plaid Cymru - The Party of Wales
6                    Socialist Labour Party
7                              Labour Party
8                               Green Party
9                         Liberal Democrats
dtype: object
<class 'pandas.core.series.Series'>
                name                                   party
0      Captain Beany                             Independent
1         Peter Bush            UK Independence Party (UKIP)
2  Helen Ceri Clarke                       Liberal Democrats
3       Edward Yi He                      Conservative Party
4       Owen Herbert  Trade Unionist and Socialist Coalition
5                NaN        Plaid Cymru - The Party of Wales
6                NaN                  Socialist Labour Party
7                NaN                            Labour Party
8                NaN                             Green Party
9                NaN                       Liberal Democrats

In [141]:
print(df1.append(df2))

0                             Captain Beany
1                                Peter Bush
2                         Helen Ceri Clarke
3                              Edward Yi He
4                              Owen Herbert
0                               Independent
1              UK Independence Party (UKIP)
2                         Liberal Democrats
3                        Conservative Party
4    Trade Unionist and Socialist Coalition
5          Plaid Cymru - The Party of Wales
6                    Socialist Labour Party
7                              Labour Party
8                               Green Party
9                         Liberal Democrats
dtype: object

In [166]:
# merge is a one to one join
df1 = df[['name']][0:5]
df2 = df[['name','party']][0:15]

df3 = pd.merge(df1, df2)
type(df1)
df3

                name                                   party
0      Captain Beany                             Independent
1         Peter Bush            UK Independence Party (UKIP)
2  Helen Ceri Clarke                       Liberal Democrats
3       Edward Yi He                      Conservative Party
4       Owen Herbert  Trade Unionist and Socialist Coalition

In [188]:
# many to one join
partylist = ['UK Independence Party (UKIP)','Liberal Democrats','Conservative Party','Socialist Labour Party']                 
partyda = ['UK Independence Party (UKIP)','Liberal Democrats','Conservative Party','Socialist Labour Party']                 

supervisor = ['UK IP supervisor', 'LD supervisor', 'Cons Supervisor', 'SLP Supervisor']

print(df2)

df4 = pd.DataFrame({'party': partylist, 'bisor': supervisor})
df4a = pd.DataFrame({'partida': partyda, 'bisor': supervisor})

print('\nmerging without on')
df5 = pd.merge(df2, df4)
print(df5)

print('\nmerging with on')
df6 = pd.merge(df2, df4, on="party")
print(df6)

print('\nmerging with left and right:')
df7 = pd.merge(df2, df4a, left_on="party", right_on="partida")
df7

                 name                                   party
0       Captain Beany                             Independent
1          Peter Bush            UK Independence Party (UKIP)
2   Helen Ceri Clarke                       Liberal Democrats
3        Edward Yi He                      Conservative Party
4        Owen Herbert  Trade Unionist and Socialist Coalition
5      Duncan Higgitt        Plaid Cymru - The Party of Wales
6       Andrew Jordan                  Socialist Labour Party
7     Stephen Kinnock                            Labour Party
8       Jonathan Tier                             Green Party
9         Victor Babu                       Liberal Democrats
10          Guto Bebb                      Conservative Party
11         Petra Haig                             Green Party
12       Andrew Haigh            UK Independence Party (UKIP)
13      Dafydd Meurig        Plaid Cymru - The Party of Wales
14       Mary Wimbury                            Labour Party

merging without on
                name                         party             bisor
0         Peter Bush  UK Independence Party (UKIP)  UK IP supervisor
1       Andrew Haigh  UK Independence Party (UKIP)  UK IP supervisor
2  Helen Ceri Clarke             Liberal Democrats     LD supervisor
3        Victor Babu             Liberal Democrats     LD supervisor
4       Edward Yi He            Conservative Party   Cons Supervisor
5          Guto Bebb            Conservative Party   Cons Supervisor
6      Andrew Jordan        Socialist Labour Party    SLP Supervisor

merging with on
                name                         party             bisor
0         Peter Bush  UK Independence Party (UKIP)  UK IP supervisor
1       Andrew Haigh  UK Independence Party (UKIP)  UK IP supervisor
2  Helen Ceri Clarke             Liberal Democrats     LD supervisor
3        Victor Babu             Liberal Democrats     LD supervisor
4       Edward Yi He            Conservative Party   Cons Supervisor
5          Guto Bebb            Conservative Party   Cons Supervisor
6      Andrew Jordan        Socialist Labour Party    SLP Supervisor

merging with left and right:

,name,party,partida,bisor
0,Peter Bush,UK Independence Party (UKIP),UK Independence Party (UKIP),UK IP supervisor
1,Andrew Haigh,UK Independence Party (UKIP),UK Independence Party (UKIP),UK IP supervisor
2,Helen Ceri Clarke,Liberal Democrats,Liberal Democrats,LD supervisor
3,Victor Babu,Liberal Democrats,Liberal Democrats,LD supervisor
4,Edward Yi He,Conservative Party,Conservative Party,Cons Supervisor
5,Guto Bebb,Conservative Party,Conservative Party,Cons Supervisor
6,Andrew Jordan,Socialist Labour Party,Socialist Labour Party,SLP Supervisor

In [71]:
# groupby
df.groupby('constituency').party.value_counts().head()

constituency  party
Aberavon      Conservative Party    1
              Green Party           1
              Independent           1
              Labour Party          1
              Liberal Democrats     1
Name: party, dtype: int64

In [79]:
df.groupby('constituency').mean().head()

                             id
constituency
Aberavon            4920.333333
Aberconwy           4630.833333
Aberdeen North      5928.333333
Aberdeen South      5243.857143
Airdrie and Shotts  5310.333333

In [198]:
# adding a series

df8 = pd.Series(['cap','bus',4,5,'her'])
df1['indix']=df8

df1

                name indix
0      Captain Beany   cap
1         Peter Bush   bus
2  Helen Ceri Clarke     4
3       Edward Yi He     5
4       Owen Herbert   her

In [238]:
# map and lambda
short = df['party'].map(lambda x: x[0:3])
short.head()

0    Ind
1    UK
2    Lib
3    Con
4    Tra
Name: party, dtype: object

In [81]:
# value counts
df['party'].value_counts().head()

Conservative Party              631
Liberal Democrats               631
UK Independence Party (UKIP)    614
Labour Party                    589
Green Party                     542
Name: party, dtype: int64

In [227]:
#loc and iloc
df.loc[2:4,['name','id']]
df.loc[[1,12,34],['name','id']]

            name    id
1     Peter Bush  6754
12  Andrew Haigh  5569
34   Carl Hewitt  6333

In [229]:
print(df.columns)
df.iloc[[1,12,34],[0,1,2]]

Index(['name', 'id', 'party', 'constituency', 'twitter_username',
       'facebook_page_url', 'party_ppc_page_url', 'gender'],
      dtype='object')

            name    id                         party
1     Peter Bush  6754  UK Independence Party (UKIP)
12  Andrew Haigh  5569  UK Independence Party (UKIP)
34   Carl Hewitt  6333                   Green Party